################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/study_vlc/.vs/study_vlc
/study_vlc/study_vlc/x64/Debug/study_vlc.tlog
/study_vlc/study_vlc/x64/Debug
/study_vlc/x64/Debug
/study_vlc/study_vlc/Debug
/study_vlc/Debug
/study_vlc/VideoClient/Debug/VideoClient.tlog
/study_vlc/VideoClient/Debug
/study_copilot
/study_vlc/RtspServer/Debug/RtspServer.tlog
/study_vlc/RtspServer/Debug
.vscode/settings.json
study_vlc/.vscode/settings.json
/study_vlc/.vscode
study_vlc/RtspServer/study_vlc.code-workspace
